body{
    /* 全体の表示設定 */
    background-color: aliceblue;
    text-align: center;
}

#face{
    /* ロボットの表示設定 */
    width: 500px;
}

/* 吹き出しの装飾 */

.balloon {
    position: relative;
    /*width: 600px;
    text-align: center;*/
    font-size: 20px;
    color: #FFFFFF;
    background-color: #3ADF00;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    border-radius: 10px;
}

.baloon::before {
    content: "";
    position: absolute;
    bottom: -20px;
    border-top: 20px solid #3ADF00;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}